[colors]
arrowbuttoncolor.dark.hidden=0x000000
arrowbuttoncolor.light.hidden=0x000000
arrowbuttoncolor.main.hidden=0x000000
arrowbuttoncolor.shadow.hidden=0x000000ff
arrowcolor.border.hidden=0x000000
arrowcolor.pressed.hidden=0x000000
arrowcolor.unpressed.hidden=0x000000
bottomcornerbuttoncolor.dark.hidden=0x000000
bottomcornerbuttoncolor.iconlight.hidden=0x000000
bottomcornerbuttoncolor.iconmain.hidden=0x000000
bottomcornerbuttoncolor.icontextmain.hidden=0x000000
bottomcornerbuttoncolor.light.hidden=0x000000
bottomcornerbuttoncolor.main.hidden=0x000000
bottomcornerbuttoncolor.shadow.hidden=0x000000
close.dark.hidden=0x000000
close.glow.hidden=0x000000
close.light.hidden=0x000000
close.main.hidden=0x000000
close.shadow.hidden=0x000000ff
close.textmain.hidden=0x000000
close.textselected.hidden=0x000000
close.textshadow.hidden=0x000000
close.textshadowpos.hidden=0
cursorcolor.dark.hidden=0x000000
cursorcolor.glow.hidden=0x000000
cursorcolor.light.hidden=0x000000
cursorcolor.main.hidden=0x000000
demotextcolor.main.hidden=0x000000
demotextcolor.textmain.hidden=0x000000
filecolor.dark.hidden=0x000000
filecolor.light.hidden=0x000000
filecolor.main.hidden=0x000000
filecolor.shadow.hidden=0x000000ff
folderarrowcolor.dark.hidden=0x000000
folderarrowcolor.glow.hidden=0x000000
folderarrowcolor.light.hidden=0x000000
folderarrowcolor.main.hidden=0x000000
folderarrowcolor.shadow.hidden=0x000000ff
folderarrowcolor.textmain.hidden=0x000000
folderarrowcolor.textselected.hidden=0x000000
folderarrowcolor.textshadow.hidden=0x000000
folderarrowcolor.textshadowpos=0
folderbgcolor.dark.hidden=0x000000
folderbgcolor.light.hidden=0x000000
folderbgcolor.main.hidden=0x000000
folderbgcolor.shadow.hidden=0x000000ff
foldercolor.dark.hidden=0x000000
foldercolor.light.hidden=0x000000
foldercolor.main.hidden=0x000000
foldercolor.shadow.hidden=0x000000
gametext.light.hidden=0x000000
gametext.main.hidden=0x000000
gametext.shadow.hidden=0x000000ff
gametext.textmain.hidden=0x000000
open.dark.hidden=0x000000
open.glow.hidden=0x000000
open.light.hidden=0x000000
open.main.hidden=0x000000
open.shadow.hidden=0x000000ff
open.textmain.hidden=0x000000
open.textselected.hidden=0x000000
open.textshadow.hidden=0x000000
open.textshadowpos.hidden=0
topcornerbuttoncolor.light.hidden=0x000000
topcornerbuttoncolor.main.hidden=0x000000
topcornerbuttoncolor.shadow.hidden=0x000000
topcornerbuttoncolor.textmain.hidden=0x000000

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
icon=theme_icons/icon_large.png
longtitle=Basic template for 3DS theme with Anemone3DS.
publisher=TheRake66
shorttitle=Template
smallicon=theme_icons/icon_small.png

[kame-editor]
deploy=../Template.zip

[textures]
bottom.image=texture_assets/screen_bottom.png
filelarge.image=texture_assets/tile_large.png
filesmall.image=texture_assets/tile_small.png
folderclose.image=texture_assets/folder_closed.png
folderopen.image=texture_assets/folder_opened.png
top.image=texture_assets/screen_top.png
